<template name="delegates">
  {{> personal}}
  <section class="delegates">
    <div class="delegates__overview">
      <div class="delegates__title">
        <span class="gn-icon gn-icon-delegate" aria-hidden="true"> Delegates</span>
      </div>
    </div>
    <div class="delegates__list">

      {{#unless currentUser.delegate}}
        <div class="col-xs-3 delegate__profile">
          <div class="delegate__profile-picture">
            <button class="btn btn-success become-delegate" data-toggle="modal" data-target="#becomeDelegate">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </div>
          <div class="delegate__profile-name">
            <p>Become a Delegate</p>
          </div>
        </div>

        <!-- Become Delegate Modal -->
        <div class="modal fade" id="becomeDelegate" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Become a Delegate</h4>
              </div>
              <div class="modal-body">
                <div class="container personal__description">
                  <div class="row">
                    <p class="personal__title">Describe yourself in 120 Characters</p>
                    <textarea style="width: 450px; height: 100px;" id="personal__description" maxlength="120" required></textarea>
                  </div>
                </div>
                <div class="container personal__domain">
                  <!-- Domain Option -->
                  <p class="personal__title">Your Expertise</p>
                  <div class="domain_options">
                    <select id="personal_expertise" class="select2" multiple="multiple">
                      <option value="main">Main</option>
                      <option value="finance">Finance</option>
                      <option value="administrative">Administrative</option>
                      <option value="product">Product</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="delegate__submit" type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
              </div>
            </div>
          </div>
        </div>
      {{/unless}}

      <!-- Building Block for User Profile -->
      {{#each delegates}}
        {{#if not_delegated this._id}}
          <div class="col-xs-3 delegate__profile">
            <div class="delegate__profile-picture">
              <img src="{{this.delegate.profile_pic}}" />
            </div>
            <div class="delegate__profile-name">
              <p>{{this.delegate.name}}</p>
            </div>
            <div class="delegate__profile-description">
              <p>{{this.delegate.description}}</p>
            </div>
            <div class="delegate__profile-domains">
              <h5>Domain Expertise:</h5>
              {{#each delegate.domain}}
                <span class="label label-default">{{this}}</span>
              {{/each}}
            </div>
            <div class="delegate__profile-button">
              <button name="success" class="btn btn-success" data-toggle="modal" data-target="#{{this._id}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Delegate</button>
            </div>
          </div>

          <!-- Delegate Modal -->
          <div class="modal" id="{{this._id}}" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">{{this.delegate.name}}</h4>
                </div>
                <div class="modal-body">
                  <div class="container personal__description">
                    <p class="personal__title">Delegate Description</p>
                    <p class="personal__description">{{this.delegate.description}}</p>
                  </div>
                  <div class="container personal__domain">
                    <!-- Domain Option -->
                    <p class="personal__title">Choose Domains to Delegate To</p>
                    <div class="domain_options">
                      <select class="delegateExpertise select2" multiple="multiple">
                        {{#each this.delegate.domain}}
                          <option value="{{this}}">{{this}}</option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary delegatePerson" data-dismiss="modal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Delegate</button>
                </div>
              </div>
            </div>
          </div>
        {{/if}}
      {{/each}}
      <!-- End of Building Block -->
    </div>
  </section>
</template>
