<template name="delegates">
  <section class="delegates">
    <div class="delegates__overview">
      <div class="delegates__title">
        <span class="gn-icon gn-icon-delegate" aria-hidden="true"> Delegates</span>
      </div>
    </div>
    <div class="delegates__list">

      <div class="col-xs-3 delegate__profile">
        <div class="delegate__profile-picture">
          <button class="btn btn-success become-delegate">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
        </div>
        <div class="delegate__profile-name">
          <p>Become a Delegate</p>
        </div>
      </div>

      <!-- Building Block for User Profile -->
      <div class="col-xs-3 delegate__profile">
        <div class="delegate__profile-picture">
          <img src="/person.jpg" />
        </div>
        <div class="delegate__profile-name">
          <p>Dominik Schiener</p>
        </div>
        <div class="delegate__profile-description">
          <p>I am a passionate young developer working on new eGovernance Solutions. I know about Startups and Blockchain. Vote me.</p>
        </div>
        <div class="delegate__profile-domains">
          <h5>Domain Expertise:</h5>
          <span class="label label-default">All</span>
        </div>
        <div class="delegate__profile-button">
          <button class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Delegate</button>
        </div>
      </div>
      <!-- End of Building Block -->
    </div>
  </section>
</template>
