<template name="voted">
  <section class="poll__section">
    <ul class="rainbow_border">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div class="poll">
      <div class="poll__title">
        <span>{{this.poll.name}}</span>
      </div>

      <div class="poll__description">
        <p>{{this.poll.description}}</p>
      </div>

      <div class="poll__options">
        <h4 class="vote_small">Voted</h4>
        <div class="quick_stats row">
          <div class="col-xs-6">

            <div class="vote_count">
              <p class="voted_title">Votes</p>
              {{#if this.poll.isvoted}}
                <p class="voted_content">{{vote_count}}</p>
              {{else}}
                <p class="voted_content">Hidden</p>
              {{/if}}
            </div>
          </div>
          <div class="col-xs-6">
            <div class="vote_time">
              <p class="voted_title">Time Left</p>
              <p id="countdown" class="voted_content">{{time_limit}}</p>
            </div>
          </div>
        </div>

        {{#if this.poll.isvoted}}
          {{> highchartsHelper chartId="test" chartWidth="100%" charHeight="100%" chartObject=topGenresChart}}
        {{else}}
          <span class="label label-warning poll_not_finished">Results will be published once the Poll is over.</span>
        {{/if}}
      </div>
    </div>
  </section>
</template>
