<template name="main">
  <header class="landing landing__background">
    <nav class="navbar">
      <ul class="navbar__elements">
        <li><button class="navbar__button buttons"><a href="#">Join Now</a></button></li>
        <li><a>About</a></li>
      </ul>
    </nav>
    <div class="landing__content">
      <h1 class="landing__title">Liquid Democracy powered by Ethereum</h1>
      <div class="landing__btndiv">
        <button class="landing__button buttons"><a href="#">Try Now</a></button>
      </div>
    </div>
  </header>
  <section class="intro">
    <div class="intro__explanation">
      <h1 class="intro__title">What is Liquid Democracy?</h1>
      <div class="intro__summary">
        <p>Liquid Democracy is a new, novel form of decentralized decision making. It combines the best of Direct and Representative Democracy and creates a truly democratic voting system where the voter is fully empowered.</p>
        <p>With Liquid Democracy voters can either vote directly on decisions, or they can delegate their voting power to someone else. This gives voters the choice of how involved they wanted to be in the decision making.</p>
        <button class="intro__learnmore"><a href="https://medium.com/@DomSchiener/liquid-democracy-true-democracy-for-the-21st-century-7c66f5e53b6f#.8smasiiny">Learn More</a></button>
      </div>
    </div>
    <div class="intro__list">
      <h1 class="intro__title">Why is it better?</h1>
      <div class="activity__timer_countdown"></div>
    </div>
  </section>
</template>
