<template name="dashboard__activity">
  <div class="dashboard__top_title">
    <span class="glyphicon glyphicon-user" aria-hidden="true"> Your Feed</span>
  </div>
  <div class="dashboard__activity">
    <!-- <ol class="dashboard__feed">
      <li class="dashboard__feed_item feed__addition">
        <div class="col-xs-2 feed__addition_left">
          <div class="feed__addition_icon">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-10 feed__addition_right">
          <h3 class="feed__message">You created #1234</h3>
        </div>
      </li>
      <li class="dashboard__feed_item feed__delegate">
        <div class="col-xs-2 feed__delegate_left">
          <div class="feed__delegate_icon">
            <img class="feed__picture" src="/person.jpg" alt="" />
          </div>
        </div>
        <div class="col-xs-10 feed__delegate_right">
          <h3 class="feed__message">Martin voted on #1224</h3>
        </div>
      </li>
      <li class="dashboard__feed_item feed__voted">
        <div class="col-xs-2 feed__voted_left">
          <div class="feed__voted_icon">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-10 feed__voted_right">
          <h3 class="feed__message">You voted on #1234</h3>
        </div>
      </li>
      <li class="dashboard__feed_item feed__addition">
        <div class="col-xs-2 feed__addition_left">
          <div class="feed__addition_icon">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </div>
        </div>
        <div class="col-xs-10 feed__addition_right">
          <h3 class="feed__message">You created #1234</h3>
        </div>
      </li>
    </ol> -->
  </div>
</template>

<template name="dashboard__issues">
  <div class="dashboard__issues">
    <div class="dashboard__top_title">
      <span class="glyphicon glyphicon-flag" aria-hidden="true"> Recent Issues</span>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      {{#each polls}}
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading{{@index}}">
            <h2 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{this._id}}" aria-expanded="true" aria-controls="{{this._id}}">
                {{this.poll.name}}
              </a>
            </h2>
          </div>
          <div id="{{this._id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{@index}}">
            <div class="panel-body">
              {{this.poll.description}}
            </div>
            <div class="panel__domain">
              <h4>Domain</h4>
              {{#each this.poll.domain}}
                <span class="label label-default">{{this}}</span>
              {{/each}}
            </div>
            <a href="{{pathFor route='poll'}}" type="button" class="btn btn-success panel_button">Vote</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</template>

<template name="stats">
  <div class="dashboard__stats">
    <div class="container">
      <div class="dashboard__stats_title">
        <span class="glyphicon glyphicon-signal" aria-hidden="true"> Statistics</span>
      </div>
      <div class="dashboard__stats_global">
        <div class="col-xs-3">
          <h3 class="global__stats_title">Users</h3>
          <p class="global__stats_item">{{all_users}}</p>
        </div>
        <div class="col-xs-3">
          <h3 class="global__stats_title">Delegates</h3>
          <p class="global__stats_item">15</p>
        </div>
        <div class="col-xs-3">
          <h3 class="global__stats_title">Votes</h3>
          <p class="global__stats_item">15</p>
        </div>
        <div class="col-xs-3">
          <h3 class="global__stats_title">Issues</h3>
          <p class="global__stats_item">15</p>
        </div>
      </div>
    </div>
  </div>
</template>
