<template name="dashboard_menu">
  <ul id="gn-menu" class="gn-menu-main">
    <li class="gn-trigger">
      <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
      <nav class="gn-menu-wrapper">
        <div class="gn-scroller">
          <ul class="gn-menu">
            <li>
              <a href="{{pathFor route='dashboard'}}" class="gn-icon gn-icon-home">Home</a>
            </li>
            <li>
              <a href="{{pathFor route='vote'}}" class="gn-icon gn-icon-vote">Vote</a>
            </li>
            <li>
              <a class="gn-icon gn-icon-delegate">Delegates</a>
            </li>
            <li>
              <a class="gn-icon gn-icon-cog">Settings</a>
            </li>
            <li id="menu_logout">
              <a class="gn-icon glyphicon glyphicon-log-out menu_glyphicon">Log Out</a>
            </li>
          </ul>
        </div>
      </nav>
    </li>
    <li><a href="/">{{ currentUser.profile.name }}</a></li>
    <li><a href="{{pathFor route='create'}}">Create Issue</a></li>
  </ul>

  {{> yield}}
</template>
