/**
  *   Current Issues Section
  **/

.issues {
  margin: 60px auto 0;
}

.issues__title {
  font-size: 44px;
  margin: 35px 0;
  text-align: center;
}

.issues__item {
  min-width: 350px;
  max-width: 650px;
  min-height: 100px;
  border: 1px solid #c6c2c0;
  border-radius: 5px;
  background-color: #fff;
  margin: 15px 20px;
  padding: 0;
  text-align: center;
}

.issues__item-title {
  color: #333;
  min-height: 50px;
  width: 100%;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.panel__title {
  font-size: 22px;
}



/**
  *   Past Votes Section
  **/

.past_votes {
  width: 100%;
  background-color: #c6c2c0;
  overflow: hidden;
  margin: 0;
}

.past__votes-item {
  min-width: 350px;
  max-width: 650px;
  border: 1px solid #c6c2c0;
  border-radius: 5px;
  background-color: #fff;
  margin: 15px auto 20px;
  padding: 0;
  text-align: center;
}

.panel__title a {
  font-size: 28px;
  text-decoration: none;
  outline: 0;
}

.panel-body {
  clear: both;
}

.panel__extra {
  text-align: center;
}

.panel__created,
.panel__domain,
.panel__votes {
  margin: 15px 0;
}
