<template name="home">
  <header class="landing landing__background">
    <nav class="navbar">
      <ul class="navbar__elements">
        <li><button class="navbar__button"><a href="#">Join Now</a></button></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
    <div class="landing__content">
      <h1 class="landing__title">Liquid Democracy powered by Ethereum</h1>
      <div class="landing__btndiv">
        <button class="landing__button buttons"><a href="#">Try Now</a></button>
      </div>
    </div>
  </header>
  <section class="intro">
    <div class="intro__explanation">
      <h1 class="intro__title">What is Liquid Democracy?</h1>
      <div class="intro__summary">
        <p>Liquid Democracy is a new, novel form of decentralized decision making. It combines the best of Direct and Representative Democracy and creates a truly democratic voting system where the voter is fully empowered.</p>
        <p>With Liquid Democracy voters can either vote directly on decisions, or they can delegate their voting power to someone else. This gives voters the choice of how involved they wanted to be in the decision making.</p>
        <button class="intro__summary_button"><a href="https://medium.com/@DomSchiener/liquid-democracy-true-democracy-for-the-21st-century-7c66f5e53b6f#.8smasiiny">Learn More</a></button>
      </div>
    </div>
    <div class="intro__list">
      <h1 class="intro__title">Why is it better?</h1>
      <div class="intro__bulletpoints">
        <ul>
          <li><i class="glyphicon glyphicon-ok"></i> Truly Democratic</li>
          <li><i class="glyphicon glyphicon-ok"></i> Better Representation for <strong>all</strong></li>
          <li><i class="glyphicon glyphicon-ok"></i> Responsibility for Delegates</li>
          <li><i class="glyphicon glyphicon-ok"></i> Better Decisions</li>
          <li><i class="glyphicon glyphicon-ok"></i> Low Entry-Barrier</li>
          <li><i class="glyphicon glyphicon-ok"></i> Scalable</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="participate">
    <h1 class="participate__title">Try out Liquid Democracy Now</h1>
    <div class="participate__more">
      <div class="participate__more_tile col-md-6">
        <div class="participate__more_icon">
          <i class="participate__discuss_icon glyphicon glyphicon-comment"></i>
        </div>
        <h3 class="participate__more_title">Discuss</h3>
        <p class="participate__more_text">Engage with the community and discuss issues demcoratically to find the right option</p>
      </div>
      <div class="participate__more_tile col-md-6">
        <div class="participate__more_icon">
          <i class="participate__vote_icon glyphicon glyphicon-edit"></i>
        </div>
        <h3 class="participate__more_title">Vote</h3>
        <p class="participate__more_text">Express your opinion by getting directly involved in the voting process</p>
      </div>
      <div class="participate__more_tile col-md-6">
        <div class="participate__more_icon">
          <i class="participate__delegate_icon glyphicon glyphicon-user"></i>
        </div>
        <h3 class="participate__more_title">Delegate</h3>
        <p class="participate__more_text">Learn more about delegation by actually delegating your voting power to someone</p>
      </div>
      <div class="participate__more_tile col-md-6">
        <div class="participate__more_icon">
          <i class="participate__validate_icon glyphicon glyphicon-check"></i>
        </div>
        <h3 class="participate__more_title">Validate</h3>
        <p class="participate__more_text">Validate the outcome of decisions and your delegates, powered by the Blockchain</p>
      </div>
    </div>
  </section>
  <section class="join">
    <div class="join__people"></div>
    <div class="join__overlay"></div>
    <div class="join__text">
      <h1 class="join__text_title">Join the Action now</h1>
      <button class="join__text_button">Start Voting</button>
      <p class="join__text_subtitle">More than <span>150</span> are already writing</p>
    </div>
  </section>
</template>
