<template name="login">
  <section class="login">
    <div class="col-xs-6 login__left">
      <div class="login__quote">
        <p class="login__para">Let us never forget that government is ourselves and not an alien power over us. The ultimate rulers of our democracy are not a President and senators and congressmen and government officials, but the voters of this country.<br><span class="login__author">Franklin D. Roosevelt</span></p>
      </div>
    </div>
    <div class="col-xs-6 login__buttons">
      <p class="login__title">Join the Community</p>
      <button id="github_login" class="btn btn-lg btn-success">Login with Github</button>
    </div>
  </section>
</template>
